{% extends "layout.html" %}

{% block content %}


<div class="jumbotron btn-primary">
    <h1>Web漏洞扫描系统集中控制系统</h1>
</div>

<div class="row">
    <div class="col-md-4" style="display: table-cell; vertical-align: middle;">
        <img border="0" src="../static/images/Appscan.jpg" width="240" height="180">
    </div>
    <div class="col-md-4" style="display: table-cell; vertical-align: middle;">
        <img src="../static/images/HP.jpg" width="240" height="180" >
    </div>
    <div class="col-md-4" style="display: table-cell; vertical-align: middle;">
        <img src="../static/images/nsfocus.jpeg" width="240" height="180" >
    </div>
</div>

{% endblock %}
