<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon_16.ico"/>
    <link rel="bookmark" href="favicon_16.ico"/>
    <title>{{ title }} - WVS 控制中心</title>
    <link rel="stylesheet" type="text/css" href="../static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
    <script src="../static/scripts/jquery-3.3.1.min.js"></script>
    <script src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('index') }}" class="navbar-brand">WVS控制中心</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('setting') }}">配置中心</a></li>
                    <li><a href="{{ url_for('monitor') }}">监控中心</a></li>
                    <li><a href="{{ url_for('result') }}">扫描结果</a></li>
                    <li><a href="{{ url_for('readme') }}">使用说明</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - Web漏洞扫描集中管控系统</p>
        </footer>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
